<h1>{{name}}</h1>

<dl>
  <td>Nombre:
  </td><dd>{{name}}</dd>
  <td>Edad:
  </td><dd>{{age}}</dd>
  <td>Método:
  </td><dd>{{getHeroDescription()}}</dd>
  <td>Capitalizado:
  </td><dd>{{capitalizedName}}</dd>
</dl>

<!-- <button class="btn btn-primary mx-2" (click)="changeHero('SuperLópez')">cambiar nombre</button> -->
<button *ngIf="name!=='SuperLópez'" class="btn btn-primary mx-2" (click)="changeHero('SuperLópez')">cambiar nombre</button>
<!-- <button class="btn btn-primary" (click)="changeAge(50)">cambiar edad</button> -->
<button *ngIf="age!=50" class="btn btn-primary mx-2" (click)="changeAge(50)">cambiar edad</button>
<button *ngIf="name==='SuperLópez' || age===50 " class="btn btn-primary mx-2" (click)="resetForm()">Reset</button>

