<h4>listado</h4>
<ul class="list-group">
  <li *ngFor="let character of characterList; let i= index;
  let isFirst=first;let isLast=last; let isEven=even; let isOdd=odd"
  class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass]="{'list-group-item-dark': isLast, 'list-group-item-primary': isEven

  }"
  > <div>
    <span class="text-primary">{{i+1}}. </span>

    <span>{{character.name}} -
  </span>
   <strong>Power: </strong>

   <span>{{character.power}}</span></div>
   <button (click)="onDeleteCharacter(character.id)" class="btn btn-danger">X</button>

   <!-- <span *ngIf="i===0">  -> Es el primero</span> -->

   <!-- <span>   Es el primero: {{i===0}}</span> -->
   <!-- <span>   Es el primero: {{isFirst}}</span> -->

<!-- <span>   Es el último: {{characterList.length-1===i}}</span> -->
<!-- <span>   Es el último: {{isLast}}</span>
<span>   Es Impar: {{isEven}}</span> //Even es par, pero al empezar en 1 tengo que hacerlo al revés de Odd
<span>   Es Par: {{isOdd}}</span> -->
   <!-- <span *ngIf="i===characterList.length-1">  -> Es el último</span> -->



  </li>


</ul>
